.customer{
    width: 100%;
    margin-top: 550px;
    &__title{
    font-size: 50px;
    font-weight: 600;
    line-height: 72.5px;
    }
    &__cards{
        position: relative;
    }
    &__card{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        padding-bottom: 100px;
        @include lg{
            grid-template-columns: repeat(2 ,1fr);
        }
        @include md{
            grid-template-columns: repeat(1 ,1fr);
        }
    }
    &__scroll{
        position: absolute;
        top: 0;
        left: -105px;
    }
}