.welcome{
    width: 100%;
    padding-top: 165px;
    background: url(/assets/image/Group.png) no-repeat center center;
    height: 1200px;
    &__wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__image{
        width: 450px;
        height: 430px;
    }
    &__desc{
        padding-left: 120px;
        &-title{
            font-size: 140px;
            font-weight: 600;
            line-height: 170px;
        }
        &-active{
            color: red;
            font-size: 95px;
        }
        &-text{
            font-size: 30px;
            font-weight: 400;
            max-width: 610px;
        }
    }
    &__scroll{
        position: absolute;
        bottom: 15px;
        left: 125px;
    }
    &__mouse{
        position: absolute;
        right: 50%;
    }
}