.welcome{
    width: 100%;
    padding-top: 165px;
    background: url(/assets/image/Group.png) no-repeat center center;
    height: 1200px;
    &__wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__image{
        width: 450px;
        height: 430px;
        position: absolute;
        right: 0;
        z-index: -1;
    }
    &__desc{
        padding-left: 120px;
        @include md{
            padding-left: 0;
        }
        &-title{
            font-size: 140px;
            font-weight: 600;
            line-height: 170px;
            @include lg{
                font-size: 70px;
            }
            @include md{
                font-size: 36px;
            }
        }
        &-active{
            color: red;
            font-size: 95px;
            @include lg{
                font-size: 70px;
            }
            @include md{
                font-size: 36px;
            }
        }
        &-text{
            font-size: 30px;
            font-weight: 400;
            max-width: 610px;
            @include md{
                font-size: 25px;
            }
        }
    }
    &__scroll{
        position: absolute;
        bottom: 0;
        left: -105px;
    }
    &__mouse{
        position: absolute;
        right: 50%;
    }
}